body {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fredoka One', sans-serif;
  color: white;
}

.navbar-preguntopolis {
  background-color: #6B4468;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.preguntopolis-title {
  font-family: 'Baloo', cursive;
  font-size: 2rem;
  color: white;
}

.navbar-preguntopolis .navbar-brand img {
  border-radius: 50%;
}

.fondo {
  display: flex;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("../images/fondo.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-height: 100vh;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  text-align: center;
}

.nombre {
  font-size: 2.5em;
  margin-top: 10px;
  color: white;
  text-shadow: 1px 1px black;
}

.info {
  font-size: 1em;
  margin-top: 20px;
  color: #ddd;
}

.ganadas {
  color: #59ff59;
}

.perdidas {
  color: #ff6060;
}

.categoria-btn {
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
  width: 250px;
}

.historia {
  background-color: #cc9600;
}

.entretenimiento {
  background-color: #c3007c;
}

.ciencia {
  background-color: #008e39;
}

.mapa {
  border-radius: 10px;
  max-height: 200px;
  max-width: 300px;
  margin: auto;
}

.categoria-botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.perfil-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr 2fr;
  gap: 20px;
}

.perfil-card {
  grid-row: span 2;
  padding: 20px;
}

.partidas-card {
  grid-column: 2;
  justify-content: space-between;
}

.categorias-card {
  grid-column: 2;
  grid-row: 2;
}

.qr-card {
  grid-column: 3;
}

.qr {
  max-height: 250px;
  max-width: 250px;
  padding: 20px;
}

.mapa-card {
  grid-column: 3;
  padding: 20px;
}

.perfil-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.perfil-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 10px;
}