body {
    font-family: Arial, sans-serif;
    background: #e8f0fd;
    margin: 0;
    padding: 20px;
    background-image: url("../images/fondo.png");
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    background: rgba(49, 48, 49, 0.411); /* Violeta con transparencia */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    color: white;
}

h1, h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: rgba(49, 48, 49, 0.411);
    font-weight: bold;
    border-radius: 10px 10px 0 0;
}

tr:nth-child(odd) {
    background-color: rgba(49, 48, 49, 0.411);
}

tr:nth-child(even) {
    background-color: rgba(49, 48, 49, 0.411);
}


td {
    vertical-align: middle;
}

img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
