main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom right, #d6b4fc, #f8e8ff);
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #4c1765;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    color: #4c1765;
    margin-bottom: 20px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th {
    text-align: center;
    background-color: #a76ac6;
    color: #fff;
    padding: 12px 15px;
    font-weight: bold;
}

td {
    padding: 12px 15px;
    color: #333;
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.5);
}

tr:hover {
    background-color: rgba(167, 106, 198, 0.2);
}

.foto-perfil {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid #a76ac6;
}

.cantidad-partidas {
    text-align: center;
    color: #4c1765;
    font-weight: bold;
    margin-bottom: 10px;
}

.tabla-titulo {
    text-align: center;
    font-size: 1.2em;
    color: #4c1765;
    margin-top: 20px;
    margin-bottom: 5px;
}
.jugador-btn {
    background: none;
    border: none;
    color: #4c1765;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}
td form {
    display: flex;
    justify-content: center;
}

.jugador-btn:hover {
    color: #d50d7d;
}

.navbar-container {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
}
