body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  color: #fff;
  font-family: 'Poppins', serif;
}

.bg-fondo {
  background-image: url("../images/fondo.png");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main-height {
  height: calc(100vh - 80px);
  max-height: 100vh;
}

.btn-form {
  background: #732F69;
}

.btn-form:hover {
  background: #8d3b7f;
}

.input {
  background: #3B152B;
  color: #fff;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
}

.input::placeholder {
  color: #ffffffb3;
}

.input:focus {
  background: #4d1d3d;
  color: #fff;
  box-shadow: none;
}

.sexo-group {
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 500;
}

.sexo-group legend {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.sexo-group label {
  margin-right: 1rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.9rem;
}

.navbar-container {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  text-align: center;
}

.perfil-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white;
  margin-bottom: 10px;
}

.perfil-grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr 2fr;
  gap: 20px;
}