{{> navbar}}
<main class="d-flex justify-content-center align-items-center p-2">
    <form method="POST" action="/editor/guardarEdicion">

        <div class="container mt-4">
            <h1 class="text-center text-primary mb-4">{{title}}</h1>
        </div>

        <div class="container">
            <p class="fw-bold fs-5 text-center">Pregunta:</p>
            <input type="hidden" name="id_pregunta" value="{{pregunta.id_pregunta}}">
            <input type="hidden" name="id_reporte" value="{{id_reporte}}">

            <div class="mb-3">
                <input type="text" name="pregunta" value="{{pregunta.pregunta}}"
                       class="form-control text-center fw-semibold rounded-pill" style="color: #6B4468;">
            </div>
            {{! <input type="text" name="pregunta" value="{{pregunta.pregunta}}{{!" class="form-control mb-3"> }}

            <p class="fw-bold fs-5 mb-1 text-center">Opciones:</p>
            <div class="row g-2">
                {{#respuestas}}
                    <input type="hidden" name="ids_respuestas[]" value="{{id_respuesta}}">
                    <div class="col-md-6">
                        <input type="text" name="respuestas[]" value="{{respuesta}}" class="form-control mb-2"
                               style="background-color: #AB98A9;">
                    </div>
                {{/respuestas}}
            </div>
            <button type="submit" class="btn btn-success mt-3">Guardar</button>
            <a href="{{#id_reporte}}/editor/reportes{{/id_reporte}}{{^id_reporte}}/editor/gestionarPreguntas{{/id_reporte}}"
               class="btn btn-secondary mt-3">Cancelar</a>
        </div>
    </form>
</main>