
<div style="background-size: cover; background-position: center; background-repeat: no-repeat; height: 100vh; margin: 0; font-family: 'Jockey One';">
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="rounded-3 container text-white p-5 text-center" style="background-color: #6b4468b9;">
        <h2 class="fs-1">Bienvenido a</h2>
        <h1>PREGUNTOPÓLIS</h1>
        <br>
        <p class="fs-5">el juego de preguntas más popular de todo el mundo
            <br> ¿Estás listo para evaluar cuánto sabes?</p>

        <p class="m-0 p-1 fs-5">si ya tenes cuenta:</p>
        <a href="/login/show" class="btn text-white w-25" style="background-color: #AB98A9;">INICIAR SESION</a>
        <br><br>
        <p class="m-0 p-1 fs-5">si sos nuevo:</p>
        <a href="/registro/show" class="btn text-white w-25" style="background-color: #AB98A9;">REGISTRARSE</a>
    </div>

</div>
</div>
