{{> navbar}}
<main class="main-height bg-fondo d-flex justify-content-center align-items-center p-2">
    <div class="container-fluid d-flex justify-content-center align-items-center text-center text-white w-100">
        <div class="container-fluid m-0">

            <div class="m-5">
                <p>Bienvenido a Preguntopólis, el juego más popular del momento.</p>
                <p>¿Te animas a desafiar tus conocimientos?</p>
                <a href="/partida/crearPartida" class="btn w-25 fw-bold" style="background-color: #AB98A9;">Jugar</a>
            </div>

            <hr class="w-100">

            <div class="m-5">
                <p>Si pensas que nos falta una pregunta, ¡es tu momento de brillar!</p>
                <p>Podes sugerir una pregunta y la revisaremos a la brevedad</p>
                <a href="/pregunta/sugerir" class="btn w-25 fw-bold" style="background-color: #AB98A9;">Sugerir Pregunta</a>
            </div>
        </div>
    </div>
</main>

