
<div style="background-color: #6b4468;" class="p-3 container-fluid d-flex w-100 justify-content-center align-items-center text-white">
    <a href="/lobby/show">
        <img src="/public/images/logo.png" alt="" style="width: 50px;">
    </a>

    <div class=" text-center container-fluid d-flex flex-column ">
        <h1 class="w-100 p-0 m-0 fw-bold" style="text-shadow: 1px 1px 2px white;">Preguntopolis</h1>

    </div>

    <a class="btn btn-dark" style="font-size: 0.8rem" href="/perfil/show">{{user}}</a>
</div>

<div class="container-fluid m-0 p-0 vh-100 bg-fondo d-flex justify-content-center align-items-center">
    <div class="container-fluid m-0 p-0 d-flex flex-column aling-items-center justify-content-center">

        <div class="container w-75 p-5 rounded-3" style="background-color: rgba(255,255,255,0.23)">
             <p class="text-center text-white fs-5 fw-bold" >Su pregunta fue enviada de manera exitosa.
                 <br>
                A la brevedad la revisaremos para tenerla en cuenta
                 <br>
                 y ponerla en nuestro listado de preguntas.
                 <br>
                ¡Gracias!</p>
        </div>
        <div class="d-flex justify-content-center m-3">
            <a href="/lobby/show" class="btn fw-bold w-25" style="background-color: #AB98A9">Volver al Lobby</a>
        </div>

    </div>
</div>