<nav class="navbar navbar-expand-lg navbar-preguntopolis">
  <div class="container-fluid justify-content-between align-items-center">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="{{base_url}}/public/images/logo.png" alt="Logo" height="40" class="d-inline-block align-text-top">
    </a>

    <span class="navbar-text mx-auto fw-bold preguntopolis-title">
        Preguntópolis
      </span>

    <form action="index.php?controller=login&method=logout" method="post" style="display:inline;">
      <button type="submit" style="border:none; background:none; padding:0; cursor:pointer;">
        <img src="{{base_url}}/public/images/cerrar-sesion.png" alt="Icono cerrar sesión" style="max-height: 40px;">
      </button>
    </form>
  </div>
</nav>