{{> navbar}}
<main class="vh-100 bg-fondo d-flex justify-content-center align-items-center p-2">
    <div class="container-fluid d-flex justify-content-center align-items-center text-center text-white w-100">
        <div class="container-fluid m-0">

            <div class="m-5">
                <p>Desde aquí podés administrar, corregir y mantener actualizadas todas las preguntas.</p>
                <a href="/editor/gestionarPreguntas" class="btn w-25 fw-bold" style="background-color: #AB98A9;">Gestionar Preguntas</a>
            </div>

            <hr class="w-100">

            <div class="m-5">
                <p>¿Los jugadores detectaron errores en alguna pregunta?</p>
                <p>Revisá los reportes enviados y decidí si corresponde corregirlas o darlas de baja.</p>
                <a href="/editor/reportes" class="btn w-25 fw-bold" style="background-color: #AB98A9;">Revisar Reportes</a>
            </div>

            <hr class="w-100">

            <div class="m-5">
                <p>Los usuarios también pueden aportar ideas para nuevas preguntas.</p>
                <p>Revisá las sugerencias y aprobá aquellas que estén bien formuladas.</p>
                <a href="/editor/sugerencias" class="btn w-25 fw-bold" style="background-color: #AB98A9;">Revisar Sugerencias</a>
            </div>
        </div>
    </div>
</main>