<div class="d-flex flex-column container-fluid justify-content-center align-items-center">



<div style="background-color: rgba(171,152,169,0.53)" class="container text-danger p-5 rounded-3 d-flex flex-column text-dark text-center align-items-center justify-content-center">
    <h1 class="text-danger fw-bold">Usted perdio!</h1>
    <p class="text-danger fw-bold">puntaje: {{puntaje}}</p>
    <p class="text-danger fw-bold">respondio correctamente: {{cantidad}} preguntas</p>
    <p class="text-danger fw-bold">DESAFIATE Y VOLVE A INTENTARLO</p>


</div>
    <div class="m-3">
    <a style="background-color: #6B4468" class="btn" href="/lobby/show">Volver al lobby</a>
</div>
</div>