<div style="background-color: rgba(171,152,169,0.53)" class="container p-5 rounded-3 d-flex flex-column text-dark text-center align-items-center justify-content-center">
    <h1>Usted perdio!</h1>
    <p>puntaje: {{puntaje}}</p>
    <p>respondio: {{cantidad}}  preguntas</p>
    <p>DESAFIATE Y VOLVE A INTENTARLO</p>
    <a class="btn btn-dark" href="/lobby/show">Volver al lobby</a>
</div>