{{> navbar}}
<main class="fondo">
  <div class="perfil-grid">
    <div class="card perfil-card">
      <div class="perfil-top">
        <img src="/public/uploads/{{foto_perfil_url}}" alt="perfil" class="perfil-img">
        <div class="nombre">{{nombre_usuario}}</div>
      </div>
      <div class="info">Nivel 7<br>Ranking #125</div>
    </div>




      <div class="card partidas-card">
      <p class="fs-4 text-white">Partidas:</p>
      <span class="mb-2 fs-5"><strong>54 Jugadas</strong></span>
      <span class="ganadas mb-2 fs-5">29 Ganadas</span>
      <span class="perdidas mb-2 fs-5">25 Perdidas</span>
    </div>

    <div class="card categorias-card">
      <p class="fs-4 text-white">Categorías destacadas:</p><br>
      <div class="categoria-botones">
        <span class="categoria-btn historia">Historia</span>
        <span class="categoria-btn entretenimiento">Entretenimiento</span>
        <span class="categoria-btn ciencia">Ciencia</span>
      </div>
    </div>

    <div class="card qr-card justify-content-center align-items-center">
      <img class="qr" src="/public/images/ImagenQR.png" alt="QR">
    </div>

    <div class="card mapa-card">
      <p class="fs-4 text-white">Ubicación: <span></span></p>
      <div>
        <img src="/public/images/mapa.png" alt="Imagen del mapa" style="max-height: 200px">
      </div>
    </div>
  </div>

    <div class="card">
        <div class="d-flex justify-content-center">
            <a href="/ranking/show" class="ranking-btn">Ver Ranking</a>
        </div>
    </div>
</main>