<div class="pregunta-container">
    <h2 class="categoria">{{categoria}} - {{dificultad}}</h2>

    <p class="texto-pregunta">{{textoPregunta}}</p>

    <ul class="opciones">
        {{#opciones}}
            <li>
                <form method="post">
                    <input type="hidden" name="respuesta" value="{{id_respuesta}}">
                    <button type="submit"
                            {{#esRespuestaProcesada}}disabled{{/esRespuestaProcesada}}
                            style="
                                {{#esSeleccionada}}background-color: {{#esCorrecta}}lightgreen{{/esCorrecta}}{{^esCorrecta}}salmon{{/esCorrecta}}{{/esSeleccionada}}
                                    "
                    >
                        {{texto}}
                    </button>
                </form>
            </li>
        {{/opciones}}
    </ul>
</div>

{{#esRespuestaProcesada}}
<script>
    // Espera 3 segundos y recarga la página para cargar otra pregunta automáticamente
    setTimeout(() => {
        window.location.href = window.location.pathname;
    }, 3000);
</script>
{{/esRespuestaProcesada}}
