{{> navbar}}
<main class="main-height bg-fondo d-flex justify-content-center align-items-center p-2">
    <div class="d-flex flex-column justify-content-center align-items-center rounded-3 m-5">

        <img src="../public/images/ruleta.png" alt="ruleta" class="w-25">
        <a href="/partida/jugar" class="btn btn-dark">Girar</a>
    </div>
</main>
