
<div style="background-color: #6b4468b9;">

<div class="d-flex flex-column justify-content-center align-items-center rounded-3">
    <h1>Preguntopolis</h1>
    <img src="../public/images/ruleta.png" alt="ruleta" class="w-25">
    <a href="/ruleta/partida" class="btn btn-dark">Girar</a>
</div>
</div>
