{{> navbar}}
<div class="container-fluid vh-100"
     style="background-image: url('../public/images/fondo-1.png'); background-position: center center;background-size: cover;background-attachment: fixed;background-repeat: no-repeat;">
    <h1 class="text-center text-dark mb-4 mt-4 fw-bold">{{title}}</h1>
    <form method="GET" action="/editor/sugerencias" class="row mb-4 justify-content-center">
        <div class="col-md-4 mb-2 mb-md-0">
            <input type="search"
                   name="terminoBusqueda"
                   placeholder="Buscar por texto de la pregunta..."
                   value="{{terminoBusqueda}}"
                   class="form-control"
                   style="background-color: rgba(255, 255, 255, 0.8); border: 1px solid #a76ac6; color: #4c1765;">
        </div>
        <div class="col-md-4 mb-2 mb-md-0">
            <select name="categoria" class="form-select"
                    onchange="this.form.submit()">
                <option value="todasLasCategorias" {{#categoria_todas}}selected{{/categoria_todas}}>Todas las
                    categorías
                </option>
                {{#categorias}}
                    <option value="{{id_categoria}}" {{#seleccionada}}selected{{/seleccionada}}>{{nombre}}</option>
                {{/categorias}}
            </select>
        </div>
        <div class="col-md-2 mb-2 mb-md-0">
            <select name="estado" class="form-select" onchange="this.form.submit()">
                <option value="pendiente" {{#estado_pendiente}}selected{{/estado_pendiente}}>Pendientes</option>
                <option value="aprobada" {{#estado_aprobada}}selected{{/estado_aprobada}}>Aprobadas</option>
                <option value="rechazada" {{#estado_rechazada}}selected{{/estado_rechazada}}>Rechazadas</option>
                <option value="todos" {{#estado_todos}}selected{{/estado_todos}}>Todos</option>
            </select>
        </div>

        <div class="col-md-2">
            <button type="submit" class="btn fw-bold w-100" style="background-color: #a76ac6; color: white;">Buscar
            </button>
        </div>
    </form>

    {{^haySugeridas}}
        <div class="alert alert-info text-center mx-auto"
             style="background-color: rgba(167, 106, 198, 0.2); color: #4c1765; border: 1px solid #a76ac6; width: 80%;"
             role="alert">
            <h4 class="alert-heading" style="color: #4c1765;">¡Todo en orden!</h4>
            <p>No hay sugerencias por revisar en este momento.</p>
        </div>
    {{/haySugeridas}}

    {{#haySugeridas}}
        <div class="container-fluid d-flex justify-content-center">
            <div class="table-responsive w-75">
                <table class="table table-hover table-bordered align-middle">
                    <thead class="table-primary text-center">
                    <tr>
                        <th>Pregunta</th>
                        <th>Categoria</th>
                        <th>Usuario</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#sugeridas}}
                        <tr>
                            <td>{{pregunta}}</td>
                            <td>{{nombre}}</td>
                            <td>
                                <strong>{{nombre_usuario}}</strong><br>
                                <small>{{email}}</small>
                            </td>
                            <td>
                                {{#estadoPendiente}}
                                    <a class="btn btn-info btn-sm"
                                       href="/editor/verSugerencia?id_pregunta={{id_pregunta}}
                                    ">Ver Sugerencia</a>
                                {{/estadoPendiente}}
                                {{^estadoPendiente}}
                                    <span class="badge
                                    {{#esAprobada}}bg-success{{/esAprobada}}
                                        {{#esRechazada}}bg-danger{{/esRechazada}}">
                                        {{estado}}
                                    </span>
                                {{/estadoPendiente}}
                            </td>

                        </tr>
                    {{/sugeridas}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/haySugeridas}}
</div>