<div>

  <div class="d-flex justify-content-center align-items-center h-100" style="position: relative; z-index: 1;">
    <div class="container rounded text-dark w-75 p-5" style="background-color: #391e37ec;">
      <div class="p-4">
        <h2 class="text-center text-white">Validación de correo</h2>
        <p class="text-center text-white">Usted acaba de registrarse, como último paso debe validar su correo para poder
          loguearse.</p>
      </div>


      <div class="d-flex justify-content-center">
        <form method="post" action="/email/validar">
          <button type="submit" class="btn btn-success">Validar</button>
        </form>

        <a href="/registro/show" class="btn btn-danger m-2">No deseo validarme</a>

      </div>
    </div>
  </div>

</div>

